* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
*::selection {
  color: white;
  background-color: black;
}
html,
body {
  height: 100%;
  width: 100%;
}

#nav #nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#nav {
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#nav ul {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  list-style-type: none;
}

#nav-part2 {
  margin-left: auto;
}

#nav-part2 #links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1;
  color: #000;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 8px 20px;
  margin: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: #000;
  color: #fff;
}

#links {
  padding: 20px;
}

#icons {
  padding: 10px;
  border-radius: 50px;
  background-color: #f7f7f7;
}
#nav-part2 #icons i {
  font-size: 18px;
  margin: 0 20px;
  font-weight: 100;
}

.logo {
  height: 100px;
  width: 300px;
}

#page1 {
  min-height: 100vh;
  position: relative;
  width: 100%;
  padding: 0 2vw;
  padding-top: 38vh;
}
#page1 h1 {
  font-size: 13vw;
  text-transform: uppercase;
  font-family: futura;
  line-height: 14vw;
  color: black;
  opacity: 1 !important;
  letter-spacing: -8px;
}
#page1 #play {
  padding: 3vw 2.2vw;
  background-color: black;
  color: #fff;
  font-size: 1.3vw;
  position: fixed;
  text-transform: uppercase;
  font-family: futura;
  border-radius: 50%;
  opacity: 0;
}
#page1 #about {
  display: none;
}
@media (max-width: 600px) {
  #nav {
    width: 100%;
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
  }

  #nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  #links {
    padding: 10px;
    display: none;
  }

  #nav-part1 {
    height: 67px;
    overflow: hidden;
  }
  #page1 {
    width: 100%;
    padding-top: 25vh;
  }
  #page1 .header {
    font-size: 15.5vw;
    padding: 0 2vw;
    line-height: 14vw;
    letter-spacing: -3px;
  }
  #page1 #about {
    display: block;
    text-align: left;
    margin-top: 20px;
  }
  #page1 .about-section {
    font-size: 12vw;
    font-weight: 100;
    letter-spacing: -1.5px;
    text-align: left;
    padding: 0px;
  }
}
