* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  color: white;
  background-color: black;
}
html,
body {
  height: 100%;
  width: 100%;
}
/* Landing.css */
.search-container {
  margin-bottom: 20px;
}

.search-input {
  width: 60%;
  padding: 10px;
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.output-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.inner-div {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.btn-primary {
  border: 1px solid black;
  background-color: #fff;
  color: black;

  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: black;
}
