* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  color: white;
  background-color: black;
}
html,
body {
  height: 100%;
  width: 100%;
}
.h5 {
  margin-top: 5px;
}

.searchInput {
  width: 60%;
  padding: 10px;
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.outputDiv {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.innerDiv {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  position: relative;
}

.btnPrimary {
  border: 1px solid black;
  background-color: #fff;
  color: black;
  padding: 8px 12px;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.btnPrimary:hover {
  background-color: black;
}
.navlink {
  text-decoration: none;
  color: black;
}

.navlink :hover {
  text-decoration: underline;
  color: rgb(51, 106, 245);
}
