#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 60px;
  width: auto;
  margin-left: 10px;
}

.menu {
  display: none;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 20px;
  cursor: pointer;
}

.menu-icon span {
  height: 2px;
  width: 100%;
  background-color: black;
  border-radius: 2px;
}

#navPart2 {
  display: flex;
  flex-direction: row;
}

#ul {
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.navLinks {
  text-decoration: none;
  list-style: none;
  padding: 10px;
  border-radius: 25px;
  transition: background-color 0.2s, color 0.2s;
}

.navLinks:hover {
  background-color: #e6e5e5;
  color: #333;
  padding: 12px;
  border-radius: 30px;
}

.navLinkss {
  text-decoration: none;
  list-style: none;
  padding: 10px;
  border-radius: 25px;
  transition: background-color 0.2s, color 0.2s;
}

.linked {
  text-decoration: none;
  list-style: none;
  color: black;
}

#button {
  border: 1px solid rgb(209, 209, 209);
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 30px;
  font-family: "Circular", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #484848;
}

#button:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#listdrop {
  margin-left: 9px;
}

#icon {
  padding: 5px;
}

.icons {
  display: flex;
  padding: 2px;
}

#listdrop:hover {
  background-color: #f5f5f5;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menudrop {
  position: absolute;
  top: 70px;
  right: 2px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px 0;
  width: 200px;
  z-index: 1;
}

.listdrop {
  padding: 10px;
}

.listdrop:hover {
  background-color: #f4f4f4;
}

.navitem {
  color: #484848;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.navitem:hover {
  background-color: #f4f4f4;
}

.filterDropdown {
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px 0;
  width: 200px;
  z-index: 1;
  top: 40px;
}

.filterItem {
  padding: 10px;
  cursor: pointer;
}

.filterItem:hover {
  background-color: #f4f4f4;
}

.dropdownToggle {
  position: relative;
}

.dropdownToggle .filterDropdown,
.dropdownToggle .dropdown {
  display: none;
}

.dropdownToggle:hover .filterDropdown,
.dropdownToggle:hover .dropdown {
  display: block;
  transition: display 0.5s ease;
}

@media (max-width: 992px) {
  .navLinks {
    display: none;
  }
  .search {
    display: none;
  }
}
